[user]
	email = andrewwong998@gmail.com
	name = Andrew Wong
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[color]
	status = auto
[alias]
	co = checkout
	st = status
	pom = push origin master
