[alias]
	st = status
	plog = log --graph --pretty=format:'%h -%d %s %n' --abbrev-commit --date=relative --branches

[user]
	name = Andrew Wong
	email = andrewwong998@gmail.com

[core]
	editor = nvim
	pager = diff-so-fancy
	excludesfile = /Users/wongaj/.gitignore_global
[init]
	defaultBranch = master
